*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
text-align: center;
    margin-top:50px;
    


}
boutton{
    background-color:teal;
    color:white;
    padding:10px 20px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
button:hover{
    background-color:darkcyan;
}
#paragraph{
    display:none;
    margin-top:20px;
    padding:10px;
    background-color: rgba(0,0,0,0.1);
    border-radius:5px;
    margin-left:45%;
  width:max-content;
}